<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="Radoslav.TaskProcessor.TaskWorker" type="Radoslav.TaskProcessor.Configuration.AppConfig.TaskWorkerConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
  </configSections>

  <Radoslav.TaskProcessor.TaskWorker>
    <add task="Radoslav.TaskProcessor.UnitTests.FakeTask, Radoslav.TaskProcessor.UnitTests"
         worker="" />
  </Radoslav.TaskProcessor.TaskWorker>
</configuration>