<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="Radoslav.TaskProcessor.Client" type="Radoslav.TaskProcessor.Configuration.AppConfig.ClientConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
  </configSections>

  <Radoslav.TaskProcessor.Client>
    <tasks>
      <add type="Radoslav.TaskProcessor.UnitTests.FakeTask, Radoslav.TaskProcessor.UnitTests" />
      <add type="Radoslav.TaskProcessor.UnitTests.FakeTask, Radoslav.TaskProcessor.UnitTests" />
    </tasks>
  </Radoslav.TaskProcessor.Client>
</configuration>