<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <services>
      <add contract="Radoslav.UnitTests.FakeServiceLocatorObject, Radoslav.Common.UnitTests"
               implementation="Radoslav.UnitTests.FakeServiceLocatorObject, Radoslav.Common.UnitTests">
        <properties>
          <collection property="SupportedTypes">
            <values>
              <add value="Radoslav.Retryable.DelayStrategy.NoDelayStrategy, Radoslav.Helpers" />
              <add value="Radoslav.Retryable.DelayStrategy.ConstantDelayStrategy, Radoslav.Helpers" />
              <add value="Radoslav.Retryable.DelayStrategy.ExponentialDelayStrategy, Radoslav.Helpers" />
            </values>
          </collection>
        </properties>
      </add>
    </services>
  </Radoslav.ServiceLocator>
</configuration>