<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <services>
      <add contract="Radoslav.UnitTests.IFakeServiceLocatorObject, Radoslav.Common.UnitTests"
               implementation="Radoslav.UnitTests.FakeCompositeServiceLocatorObject, Radoslav.Common.UnitTests">

        <composition mode="All" resolveKeys="Simple" />
      </add>
    </services>
  </Radoslav.ServiceLocator>
</configuration>