<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <sources>
      <add source="DelayStrategiesOneKey.config" />
    </sources>

    <services>
      <add key="None"
               contract="Radoslav.Retryable.DelayStrategy.IDelayStrategy, Radoslav.Helpers"
               implementation="Radoslav.Retryable.DelayStrategy.NoDelayStrategy, Radoslav.Helpers" />
    </services>
  </Radoslav.ServiceLocator>
</configuration>