<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <sources>
      <add source="ConfigSources2.config" />
      <add source="ConstantDelayStrategy.config" />
    </sources>

    <services>
      <add contract="Radoslav.UnitTests.FakeServiceLocatorObjectSimple, Radoslav.Common.UnitTests"
               implementation="Radoslav.UnitTests.FakeServiceLocatorObjectSimple, Radoslav.Common.UnitTests" />
    </services>
  </Radoslav.ServiceLocator>
</configuration>