<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <services>
      <add contract="Radoslav.UnitTests.FakeServiceLocatorObjectWithTimer, Radoslav.Common.UnitTests"
               implementation="Radoslav.UnitTests.FakeServiceLocatorObjectWithTimer, Radoslav.Common.UnitTests" />
    </services>
  </Radoslav.ServiceLocator>
</configuration>