<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <services>
      <add key="MyTimer1"
               contract="Radoslav.Timers.ITimer, Radoslav.Helpers"
               implementation="Radoslav.Timers.TimersTimer, Radoslav.Helpers" />

      <add contract="Radoslav.DateTimeProvider.IDateTimeProvider, Radoslav.DateTimeProvider"
               implementation="Radoslav.DateTimeProvider.DefaultDateTimeProvider, Radoslav.DateTimeProvider">

        <constructor>
          <dependency name="timer" resolveKey="MyTimer2" />
          <parameter name="interval" value="00:00:05" />
        </constructor>
      </add>
    </services>
  </Radoslav.ServiceLocator>
</configuration>