<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <services>
      <add key="None"
               contract="Radoslav.Retryable.DelayStrategy.IDelayStrategy, Radoslav.Helpers"
               implementation="Radoslav.Retryable.DelayStrategy.ConstantDelayStrategy, Radoslav.Helpers" />

      <add key="None"
               contract="Radoslav.Retryable.DelayStrategy.IDelayStrategy, Radoslav.Helpers"
               implementation="Radoslav.Retryable.DelayStrategy.ExponentialDelayStrategy, Radoslav.Helpers" />
    </services>
  </Radoslav.ServiceLocator>
</configuration>