<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <services>
      <add key="Constant"
               contract="Radoslav.Retryable.DelayStrategy.IDelayStrategy, Radoslav.Helpers"
               implementation="Radoslav.Retryable.DelayStrategy.ConstantDelayStrategy, Radoslav.Helpers">

        <constructor>
          <parameter name="delayBetweenRetries" value="00:05:00" />
        </constructor>
      </add>

      <add contract="Radoslav.UnitTests.FakeServiceLocatorObject, Radoslav.Common.UnitTests"
               implementation="Radoslav.UnitTests.FakeServiceLocatorObject, Radoslav.Common.UnitTests">

        <properties>
          <collection property="DelayStrategies" resolveKeys="Constant" optionalKeys="None" />
        </properties>
      </add>
    </services>
  </Radoslav.ServiceLocator>
</configuration>