<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <services>
      <add contract="Radoslav.ServiceLocator.IRadoslavServiceLocator, Radoslav.ServiceLocator"
               implementation="Radoslav.ServiceLocator.RadoslavServiceLocator, Radoslav.ServiceLocator"
               shared="true" />
    </services>
  </Radoslav.ServiceLocator>
</configuration>