<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <sources>
      <add source="OptionalKeys3.config" />
    </sources>

    <services>
      <remove key="None" contract="Radoslav.Retryable.DelayStrategy.IDelayStrategy, Radoslav.Helpers" />
    </services>
  </Radoslav.ServiceLocator>
</configuration>