<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <services>
      <add contract="Radoslav.Timers.ITimer, Radoslav.Helpers"
               implementation="Radoslav.Timers.TimersTimer, Radoslav.Helpers" />

      <add contract="Radoslav.UnitTests.FakeServiceLocatorObjectWithTimer, Radoslav.Common.UnitTests"
               implementation="Radoslav.UnitTests.FakeServiceLocatorObjectWithTimer, Radoslav.Common.UnitTests">
        <properties>
          <set property="Timer.Interval" value="00:15:00" />
        </properties>
      </add>
    </services>
  </Radoslav.ServiceLocator>
</configuration>