<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <services>
      <add contract="Radoslav.Timers.ITimer, Radoslav.Helpers"
               implementation="Radoslav.Timers.TimersTimer, Radoslav.Helpers"
               shared="True" />
    </services>
  </Radoslav.ServiceLocator>
</configuration>