<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
  </configSections>

  <Radoslav.ServiceLocator>
    <services>
      <add contract="System.IDisposable"
               implementation="System.Timers.Timer"
               shared="true" />

      <add contract="System.ComponentModel.IComponent"
               implementation="System.Timers.Timer"
               shared="true" />
    </services>
  </Radoslav.ServiceLocator>
</configuration>