<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="Radoslav.TaskProcessor.TaskScheduler" type="Radoslav.TaskProcessor.Configuration.AppConfig.TaskSchedulerConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
  </configSections>

  <Radoslav.TaskProcessor.TaskScheduler>
    <scheduledTasks>
      <add type="" />
    </scheduledTasks>
  </Radoslav.TaskProcessor.TaskScheduler>
</configuration>