<?xml version="1.0" encoding="utf-8" ?>

<Radoslav.TaskProcessor.Serialization>
  <!-- Custom serializer. -->
  <entity type="Radoslav.TaskProcessor.Sample.SampleTask, Radoslav.TaskProcessor.Sample.Model"
          serializer="Radoslav.TaskProcessor.Sample.SampleTaskSerializer, Radoslav.TaskProcessor.Sample.Serialization" />

  <!-- Default serializer. -->
  <entity type="System.Object, mscorlib"
          serializer="Radoslav.Serialization.EntityBinaryJsonSerializer, Radoslav.Serialization" />
</Radoslav.TaskProcessor.Serialization>