<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
    <section name="Radoslav.TaskProcessor" type="Radoslav.TaskProcessor.Configuration.AppConfig.TaskProcessorConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
    <section name="Radoslav.TaskProcessor.Serialization" type="Radoslav.TaskProcessor.Configuration.AppConfig.SerializationConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
  </configSections>

  <Radoslav.TaskProcessor>
    <tasks>
      <add type="Radoslav.TaskProcessor.Sample.SampleTask, Radoslav.TaskProcessor.Sample.Model" />
    </tasks>

    <pollingQueues>
      <add key="Sample" interval="00:00:05" max="5" />
    </pollingQueues>
  </Radoslav.TaskProcessor>

  <Radoslav.TaskProcessor.Serialization configSource="Radoslav.TaskProcessor.Serialization.config" />

  <Radoslav.ServiceLocator>
    <sources>
      <add source="Radoslav.TaskProcessor.ServiceLocator.config" />
    </sources>

    <services>
      <add contract="Radoslav.Diagnostics.IChildProcessKiller, Radoslav.Helpers"
               implementation="Radoslav.Diagnostics.DebuggerChildProcessKiller, Radoslav.Helpers" />

      <add contract="Radoslav.TaskProcessor.ITaskExecutor, Radoslav.TaskProcessor"
               implementation="Radoslav.TaskProcessor.TaskProcessExecutor, Radoslav.TaskProcessor">

        <constructor>
          <parameter name="executableFilePath" value="Radoslav.TaskProcessor.TaskWorker.exe" />
        </constructor>

        <properties>
          <set property="CancelTimeout" value="00:00:05" />
        </properties>
      </add>

      <add contract="Radoslav.TaskProcessor.TaskDistributor.ITaskDistributor, Radoslav.TaskProcessor.TaskDistributor"
               implementation="Radoslav.TaskProcessor.TaskDistributor.DefaultTaskDistributor, Radoslav.TaskProcessor.TaskDistributor" />

      <add contract="Radoslav.IApplicationKiller, Radoslav.Helpers"
               implementation="Radoslav.EnvironmentExitApplicationKiller, Radoslav.Helpers" />

      <add contract="Radoslav.Retryable.DelayStrategy.IDelayStrategy, Radoslav.Helpers"
               implementation="Radoslav.Retryable.DelayStrategy.ConstantDelayStrategy, Radoslav.Helpers">

        <constructor>
          <parameter name="delayBetweenRetries" value="00:00:01" />
        </constructor>
      </add>

      <add contract="Radoslav.TaskProcessor.IMasterCommandsProcessor, Radoslav.TaskProcessor"
               implementation="Radoslav.TaskProcessor.MasterCommandsProcessor, Radoslav.TaskProcessor" />

      <add contract="Radoslav.TaskProcessor.RadoslavTaskProcessor, Radoslav.TaskProcessor"
               implementation="Radoslav.TaskProcessor.RadoslavTaskProcessor, Radoslav.TaskProcessor" />
    </services>
  </Radoslav.ServiceLocator>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.diagnostics>
    <trace>
      <listeners>
        <add name="NLog" type="NLog.NLogTraceListener, NLog" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>