<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Radoslav.ServiceLocator" type="Radoslav.ServiceLocator.Configuration.ServiceLocatorConfiguration, Radoslav.ServiceLocator" />
    <section name="Radoslav.TaskProcessor.TaskWorker" type="Radoslav.TaskProcessor.Configuration.AppConfig.TaskWorkerConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
    <section name="Radoslav.TaskProcessor.Serialization" type="Radoslav.TaskProcessor.Configuration.AppConfig.SerializationConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
  </configSections>

  <Radoslav.TaskProcessor.TaskWorker>
    <add task="Radoslav.TaskProcessor.Model.DemoTask, Radoslav.TaskProcessor.Monitor.Wpf"
         worker="Radoslav.TaskProcessor.TaskWorker.DemoTaskWorker, Radoslav.TaskProcessor.Monitor.Wpf" />

    <add task="Radoslav.TaskProcessor.Model.DemoPollingQueueTask, Radoslav.TaskProcessor.Monitor.Wpf"
         worker="Radoslav.TaskProcessor.TaskWorker.DemoTaskWorker, Radoslav.TaskProcessor.Monitor.Wpf" />

    <add task="Radoslav.TaskProcessor.Sample.SampleTask, Radoslav.TaskProcessor.Sample.Model"
         worker="Radoslav.TaskProcessor.Sample.SampleTaskWorker, Radoslav.TaskProcessor.Sample.Workers"
         hasTaskJobSettings="true" />

    <add task="Radoslav.TaskProcessor.Sample.SamplePollingQueueTask, Radoslav.TaskProcessor.Sample.Model"
         worker="Radoslav.TaskProcessor.Sample.SampleTaskWorker, Radoslav.TaskProcessor.Sample.Workers" />
  </Radoslav.TaskProcessor.TaskWorker>

  <Radoslav.TaskProcessor.Serialization configSource="Radoslav.TaskProcessor.Serialization.config" />

  <Radoslav.ServiceLocator>
    <sources>
      <add source="Radoslav.TaskProcessor.ServiceLocator.config" />
    </sources>

    <services>
      <add contract="Radoslav.TaskProcessor.TaskWorker.ITaskWorkerFactory, Radoslav.TaskProcessor.Model"
               implementation="Radoslav.TaskProcessor.TaskWorker.TaskWorkerFactory, Radoslav.TaskProcessor.TaskWorker" />
    </services>
  </Radoslav.ServiceLocator>

  <system.diagnostics>
    <trace>
      <listeners>
        <add name="NLog" type="NLog.NLogTraceListener, NLog" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>