<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="Radoslav.TaskProcessor.Serialization" type="Radoslav.TaskProcessor.Configuration.AppConfig.SerializationConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
  </configSections>

  <Radoslav.TaskProcessor.Serialization>
    <entity type="Radoslav.TaskProcessor.UnitTests.FakeTask, Radoslav.TaskProcessor.UnitTests"
            serializer="Radoslav.FakeBinarySerializer, Radoslav.UnitTesting" />

    <entity type="Radoslav.TaskProcessor.UnitTests.FakeTask, Radoslav.TaskProcessor.UnitTests"
            serializer="Radoslav.FakeXmlSerializer, Radoslav.UnitTesting" />
  </Radoslav.TaskProcessor.Serialization>
</configuration>