<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="Radoslav.TaskProcessor.Serialization" type="Radoslav.TaskProcessor.Configuration.AppConfig.SerializationConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
  </configSections>

  <Radoslav.TaskProcessor.Serialization>
    <entity type="Radoslav.TaskProcessor.UnitTests.FakeTask, Radoslav.TaskProcessor.UnitTests"
            serializer="Radoslav.Serialization.EntityBinarySerializer, Radoslav.Serialization" />

    <entity type="Radoslav.TaskProcessor.Model.ITask, Radoslav.TaskProcessor.Model"
            serializer="Radoslav.Serialization.EntityXmlSerializer, Radoslav.Serialization" />

    <entity type="System.Object, mscorlib"
            serializer="Radoslav.Serialization.EntityBinaryXmlSerializer, Radoslav.Serialization" />
  </Radoslav.TaskProcessor.Serialization>
</configuration>