<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="Radoslav.TaskProcessor" type="Radoslav.TaskProcessor.Configuration.AppConfig.TaskProcessorConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
  </configSections>

  <Radoslav.TaskProcessor>
    <pollingJobs>
      <add type="Radoslav.TaskProcessor.UnitTests.FakePollingJob, Radoslav.TaskProcessor.UnitTests" interval="00:01:00" />
      <add type="Radoslav.TaskProcessor.UnitTests.FakePollingJob, Radoslav.TaskProcessor.UnitTests" interval="00:02:00" />
    </pollingJobs>
  </Radoslav.TaskProcessor>
</configuration>