<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="Radoslav.TaskProcessor" type="Radoslav.TaskProcessor.Configuration.AppConfig.TaskProcessorConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
  </configSections>

  <Radoslav.TaskProcessor>
    <tasks max="100">
      <add type="Radoslav.TaskProcessor.UnitTests.IFakeTask, Radoslav.TaskProcessor.UnitTests" max="10" />
    </tasks>
  </Radoslav.TaskProcessor>
</configuration>