<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="Radoslav.TaskProcessor" type="Radoslav.TaskProcessor.Configuration.AppConfig.TaskProcessorConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
  </configSections>

  <Radoslav.TaskProcessor>
    <pollingQueues>
      <add key="A" interval="00:01:00" max="-1" />
    </pollingQueues>
  </Radoslav.TaskProcessor>
</configuration>