<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="Radoslav.TaskProcessor" type="Radoslav.TaskProcessor.Configuration.AppConfig.TaskProcessorConfigurationSection, Radoslav.TaskProcessor.Configuration.AppConfig" />
  </configSections>

  <Radoslav.TaskProcessor>
    <pollingQueues>
      <add key="A" interval="00:01:00" master="true" active="false" max="0" />
      <add key="B" interval="00:02:00" master="false" active="true" max="5" />
      <add key="C" interval="00:03:00" concurrent="true" max="10" />
    </pollingQueues>
  </Radoslav.TaskProcessor>
</configuration>